@media only screen and (max-height : 667px) {

    /* Style pour smartphone classique (portrait et paysage) */
    .preloader{
        margin-top:30px;
    }
    .wallHeroes{
    /* width: 320px;
    height: 640px; */
    text-align: center;
    justify-content: center;
}    
    .title{
        font-size: 30px;
        text-align: center;
    }
    .settings{
        font-size: 17px;

    }
    .DivWrapContainer{
        margin:0;
        font-size: 30px;
    }
    .BlocGauche{
        font-size:13px;
        display: flex;
        flex-direction: column;
    }
    .BlocDroit{
        font-size:13px;
        display: flex;
        flex-direction: column-reverse;
    }
    .rowRight{
        width:100%;
    }
    .rowLeft{
        width:100%; 
    }
    .ReturnButton{
        background-image: url"(../src/icon.png)";
        font-size: 14px;
    }
}
@media only screen and (max-height : 731px) {
     /* Style pour iphone */
     .wallHeroes{
        /* width: 340px;
        height: 640px; */
        text-align: center;
        justify-content: center;
    }    
    .title{
        font-size: 30px;
    }
    .settings{
        font-size: 20px;

    }
    .DivWrapContainer{
        margin:0;
        font-size: 30px;
    }
    .BlocGauche{
        font-size:13px;
        display: flex;
        flex-direction: column;
    }
    .BlocDroit{
        font-size:13px;
        display: flex;
        flex-direction: column-reverse;
    }
    .rowRight{
        width:100%;
    }
    .rowLeft{
        width:100%; 
    }
}
@media only screen and (max-height : 823px) {
    /* Style pour iphone */
    .wallHeroes{
        /* width: 320px;
        height: 641px; */
        text-align: center;
        justify-content: center;
    }    
    .title{
    font-size: 35px;
   }
   .settings{
    font-size: 20px;

   } 
   .DivWrapContainer{
    margin:0;
    font-size: 30px;
}
.BlocGauche{
    font-size:13px;
    display: flex;
    flex-direction: column;
}
.BlocDroit{
    font-size:13px;
    display: flex;
    flex-direction: column-reverse;
}
.rowRight{
    width:100%;
}
.rowLeft{
    width:100%; 
}
}
